/*********************************TAG SElECTORS***********************/

h1 {
  color: red;
  font-size: 200px;
}


img:hover {
background-color: gold;
}

*/


/****************************CLAS SElECTORS***************************/

.FelixBerol {
  background-color: green;
}

.DontForget {
  background-color: red;

.circular {
  border-radius: 100%
}

/****************************ID SElECTORS***************************/

#heading {
  color: blue;
}
